.Input {
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  font-family: "Steppe";
  align-content: center;
  border-radius: 40px;
  border: solid #ffffff 2px;
  padding: 0.9rem 1.4rem;
}

.Input:focus {
  border: 2px solid var(--light-blue);
  border-radius: 45px;
  transition: all 0.2s ease-in;
}

.dark {
  background: rgb(25, 170, 71);
  background: linear-gradient(
    90deg,
    rgba(25, 170, 71, 1) 0%,
    rgba(15, 57, 4, 1) 63%,
    rgba(13, 42, 4, 1) 100%
  );
}

@media (max-width: 1000px) {
  .Input {
    font-size: 0.8rem;
  }
}
